[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Marko Mijacevic
	email = marko0905@gmail.com
  	username = marko0905
[init]
	defaultBranch = main
